<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Controverse</title>

	<!-- Bootstrap Core CSS -->
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom CSS -->
	<link href="/static/css/whitescale.css" rel="stylesheet">

	<!-- Customer CSS -->
	<link href="/static/css/style-white.css" rel="stylesheet">

	<!-- Custom Fonts -->
	<link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
	<link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="css/animate.css">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

    <!-- WOW.js -->
    <script src="/static/js/wow.min.js"></script>
              <script>
              new WOW().init();
              </script>



</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

	<!-- Navigation -->
	<nav class="navbar navbar-custom navbar-fixed-top" id="navbar" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
					<i class="fa fa-bars"></i>
				</button>
				<a class="navbar-brand page-scroll" href="#page-top">
					<i class="fa fa-play-circle"></i>  Télécom <span class="light">ParisTech</span>
				</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-right navbar-main-collapse">
				<ul class="nav navbar-nav">
					<!-- Hidden li included to remove active class from about link when scrolled up past about section -->
					<li class="hidden">
						<a href="#page-top"></a>
					</li>
					<li><a class="page-scroll" href="#intro">Introduction</a></li>
					<li><a class="page-scroll" href="#acteurs">Acteurs</a></li>
					<li><a class="page-scroll" href="#frise">Historique</a></li>
                    <!--<li><a class="page-scroll" href="#debats">Arbre des débats</a></li>-->
					<li><a class="page-scroll" href="#analyses">Nos analyses</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>

	<!-- Intro Header -->
	<header class="intro">
		<div class="intro-body">
			<div class="container">
				<div class="row">
					<h1 class="brand-heading">&laquo; Faut-il faire vivre les commentaires sous les articles de presse ? &raquo;</h1>

					<p class="wow slideInLeft">
						De nos jours, le participatif n'étonne plus. En effet, les internautes ne remettent plus en
						question leur droit de commenter à tout moment et en tout lieu. Pourtant, il n'en a pas toujours
						été ainsi. En particulier, comment en est-on arrivé à instaurer un système de commentaires sous
						les articles de presse ? Cette manière d'échanger est-elle la plus pertinente ? Quelles sont les
						alternatives proposées ?
					</p>
					<a href="#intro" class="btn btn-circle page-scroll">
						<i class="fa fa-angle-double-down animated"></i>
					</a>
				</div>
			</div>
		</div>
	</header>

	<!-- Presentation Section -->
	<section id="intro" class="container content-section text-center">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<h2>Présentation de la controverse</h2>

				<p>De nos jours, la grande majorité de la transmission d’information se fait au travers d'Internet. 
				La presse a investi cet espace et la plupart des sites de presse dédient une zone en bas de chaque article où le 
				lecteur a la possibilité de s'exprimer. Laisser la parole à l'internaute est une évolution apportée avec l'apparition 
				du Web 2.0, encore appelé Web participatif.
				Offrir un lieu où le lecteur peut réagir sur le sujet proposé pour créer de l'échange et du débat, telle était l'idée
				des sites de presse.
				Malheureusement, force est de constater que seule une faible proportion des commentaires recueillis présentent une réelle
				pertinence. Nombreux sont les trolls qui arpentent et saturent les sites de presse par leurs commentaires borderline,
				où encore les extrémistes qui tentent de faire passer leurs discours à renfort de commentaires tout faits et recasés sans même s'inscrire dans 
				le contexte de l'article.
				Ainsi, il est légitime pour les sites de presse d'évaluer l'intérêt de maintenir une zone de commentaire sous leurs articles, d’autant plus que la
				loi oblige à modérer ces espaces d’échange, ce qui peut se révéler coûteux en temps ou en argent.
				</p>

				<p> Un exemple frappant de remise en question du système des commentaires est celui du blog de Dave Winer, où il 
				a publié et publie encore de nombreux articles liés à la technologie et aux sciences en général.
				Premier développeur à mettre en place en 1998 une zone de commentaire sur son blog, il décide de désactiver cette fonction 
				14 ans plus tard, constatant qu’un tiers des 30 000 commentaires présents relevaient de l’arnaque et du spam.
				</p>

				<p> Cela délimite donc plusieurs phases dans l’histoire du débat des commentaires, la première s’inscrit
					dans la tendance générale du web participatif dans lequel les utilisateurs sont autant invités à
					participer à la construction d’internet que les développeurs. La seconde est la migration des
					différents médias vers le web participatif pour proposer aux utilisateurs un espace d’échange et de
					débats sur des faits d’actualité. Enfin on assiste aujourd’hui à une remise en cause du modèle des
					commentaires, apparemment peu pertinent au vue du contenu qu’il renferme.
				</p>
			</div>
		</div>
	</section>


	<section id="acteurs" class="content-section text-center container">
		<div class="col-lg-8 col-lg-offset-2">
			<h2>Positionnement des acteurs</h2>
		</div>
		<div class="col-lg-8 col-lg-offset-2 container actors-container">
			<%
				var actors = {};
				acteurs.acteurs.forEach (function (actorType) {
					actorType.entries.forEach (function (actor) {
						actors[actor.id] = {
							name: actor.nom,
							type: actorType.type
						};
					});
				});
			acteurs.questions.forEach (function (question, qId) { %>
			<input type="radio" id="radio-<%= qId %>" name="question"<%= qId == 0 ? " checked" : "" %>>
			<label class="question" for="radio-<%= qId %>"><%= question.enonce %></label>
			<% });
			acteurs.questions.forEach (function (question, qId) { %>
			<div id="question-<%= qId %>" class="question-container">
				<table class="table table-bordered table-striped">
					<thead><tr>
						<th><%= question.side_name[0] %></th>
						<th><%= question.side_name[1] %></th>
					</tr></thead>
					<tbody><tr>
						<% [question.side_1, question.side_2].forEach (function (side) { %>
						<td>
							<% side.forEach (function (id) { %>
							<button data-toggle="popover" data-placement="top" data-trigger="focus" data-html="true"
									data-title="<%= actors[id].type %>" class="actor
							<% if (question.commentaires[id]) {
								var comment = question.commentaires[id];
								%>fa fa-comment-o" data-content="<%= comment.commentaire %>
								<% if (comment.url) { %><a href='<%= comment.url %>' class='fa fa-link'></a><% } %><%
							}
							%>
                            "><img src="/static/img/ico-<%= actors[id].type %>.svg" width="64px" /><br /><%= actors[id].name %></button>
							<% }); %>
						</td>
						<% }); %>
					</tr></tbody>
				</table>
			</div>
			<% }); %>
			<style scoped>
				<% acteurs.questions.forEach (function (question, qId) { %>
				input[type=radio]#radio-<%= qId %>:checked ~ div#question-<%= qId %> {
					display: block;
				}
				<% });
				acteurs.questions.forEach (function(q, i) { %>
				<%= i != 0 ? ", " : "" %>input[type=radio]#radio-<%= i %>:checked ~ label[for=radio-<%= i %>]<% }); %> {
					background-color: #DDD;
				}
			</style>
		</div>
	</section>


	<!-- History Section -->
	<section id="frise" class="content-section text-center container">
		<div class="col-lg-8 col-lg-offset-2">
			<h2>Historique de la controverse</h2>
		</div>
		<% var lastDate = 0; %>
		<div class="col-lg-12 container frise-container">
			<% frise.forEach (function (period, i) { %>
			<div class="period">
				<h3 class="row scroll-lock" data-lock-to="#navbar"><%= period.title %></h3>

				<div class="row">
					<p class="col-md-10 col-md-offset-1"><%= period.text %></p>
				</div>
				<% if (period.image) { %>
				<p class="text-center"><img src="/static/img/<%= period.image %>" alt="<%= period.image %>" class="svg"></p>
				<div class="scroll-filler"></div>
				<% } %>
				<% period.events.forEach (function (event, j) { %>
				<div class="row event-row" id="event-row-<%= i %>-<%= j %>">
					<div class="col-md-1 date-col">
						<% var cur = new Date (event.date).getFullYear (); if (lastDate != cur) { lastDate = cur; %>
						<%= cur %>
						<% } %>
					</div>
					<div class="col-md-10 title-col">
						<h4><%- escapeHtml (event.title || "").replace (/\*([^*]*)\*/g, "<i>$1</i>") %></h4>
						<p><%- escapeHtml (event.desc || "").replace (/\*([^*]*)\*/g, "<i>$1</i>") %></p>
					</div>
				</div>
				<div id="event-target-<%= i %>-<%= j %>" class="event-target"></div>
				<% }); %>
			</div>
			<% }); %>
			<div class="scroll-lock col-lg-12" data-lock-to="#navbar"></div>
		</div>
		<ul id="vfrise" class="scroll-hide" data-show-on=".frise-container">
			<% frise.forEach (function (period, i) { period.events.forEach (function (evt, j) { %>
			<li id="event-li-<%= i %>-<%= j %>"><a href="#event-target-<%= i %>-<%= j %>" class="page-scroll"><%= evt.prettydate %></a></li>
			<% }); }); %>
		</ul>
	</section>

    <!--
	<section id="debats" class="content-section text-center container">
		<div class="col-lg-8 col-lg-offset-2">
			<h2>Arbre des débats</h2>
		</div>
        <img src="/static/img/arbre_debat2.png" width="100%" />
    </section>
    -->

	<section id="analyses" class="content-section text-center container">
		<div class="col-lg-8 col-lg-offset-2">
			<h2>Nos analyses</h2>
		</div>
		<div class="col-md-10 col-md-offset-1">
			<a href="/static/rapports/juriste.pdf" class="btn btn-success"><span class="fa fa-download"></span> Télécharger le rapport du juriste</a>
			<a href="/static/rapports/journaliste.pdf" class="btn btn-success"><span class="fa fa-download"></span> Télécharger le rapport du journaliste</a>
			<a href="/static/rapports/explorateur-web.pdf" class="btn btn-success"><span class="fa fa-download"></span> Télécharger le rapport de l'explorateur web</a>
		</div>
	</section>

	<!-- Footer -->
	<footer>
		<div class="container text-center">
			<p>Copyright &copy; Alexis Bauvin 2016<%= (new Date ()).getFullYear() > 2016 ? "-" + (new Date ()).getFullYear() : "" %>, contribution de Kamélia Daudel, Meriem Kachouri, Paul Fleutry, Hugo Picq, Romain Rey et Alexandre Janniaux</p>
		</div>
	</footer>

	<div id="debug"></div>

	<!-- jQuery -->
	<script src="/static/js/jquery.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="/static/js/bootstrap.min.js"></script>

	<!-- Plugin JavaScript -->
	<script src="/static/js/jquery.easing.min.js"></script>

	<!-- Custom Theme JavaScript -->
	<script src="/static/js/grayscale.js"></script>

	<!-- Scroll lock CSS -->
	<script src="/static/js/scrolllock.js"></script>
	<script src="/static/js/scrollhider.js"></script>

	<!-- Custom custom JS -->
	<script src="/static/js/js.js"></script>

</body>

</html>
